<div class="w-100 h-100 row rounded m-0 p-0" style="background : #f2f2f2;">

    <!-- left side -->
    <div class="col-3 pt-2 " style="background: #9fcdf2">

        <!-- AVATAR -->
        <div class="d-flex justify-content-center align-items-center m-2">
            <img [src]="user?.profile" alt="Avatar" loading="lazy" height="150px" width="150px"
                style="border-radius: 50%; object-fit: cover; ">
        </div>
        <p class="d-flex align-self-center justify-content-center text-secondary m-0 mt-2 h5">Profile Details</p>
        <!-- CARD CREDENTIALS -->
        <div class="h-50 row px-3">
            <div class="col"></div>
            <div class="col-9 d-flex flex-column justify-content-center">
                <!-- CARD INFO -->
                <div>
                    <p class="h6">Card Holder</p>
                    <p>{{user?.cardHolderName}}</p>
                </div>

                <div>
                    <p class="h6">Card Number</p>
                    <p>{{user?.cardNumber}}</p>
                </div>

                <div>
                    <p class="h6">Card Expiry</p>
                    <p>{{user?.expiryMonth}}/{{user?.expiryYear}}</p>
                </div>

                <div>
                    <p class="h6">Card CVV</p>
                    <p>{{getFormattedCVV(user?.cvv)}}</p>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <!-- RATE APP -->
        <div class="d-flex justify-content-center align-items-center">
            <mat-card class="example-card rounded m-1 p-0">
                <button class="btn d-flex justify-content-center align-items-center" routerLink="/">
                    <h2 class="m-2">Back to Home</h2>
                    <i class="fa-solid fa-arrow-left fa-2x"></i>
                </button>
            </mat-card>
        </div>

    </div>

    <!-- right side -->
    <div class="col-9">

        <h1 class="my-5 d-flex justify-content-center">Task: Enter the following credentials to the form.</h1>

        <div class="row">
            <div class="col"></div>
            <div class="col-7">

                <div class="card rounded" *ngIf="user">

                    <form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">

                        <div class="card-header">
                            <p class="mr-2 mb-1">Credit Card</p>
                            <small>Enter the card details</small>
                        </div>

                        <div class="card-body">

                            <!-- NAME -->
                            <div class="row m-4px">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name" class="m-4px">Name</label>
                                        <input class="form-control text-uppercase" id="name" type="text"
                                            formControlName="name" (keyup)="onKeyUp($event)">
                                    </div>
                                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                                        <!-- <div *ngIf="name.errors?.['required']">
                                            Name is required.
                                        </div> -->
                                        <div *ngIf="name.errors?.['invalidValue']">
                                            Name does not match.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- NUMBER -->
                            <div class="row m-4px">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="ccnumber" class="m-4px">Credit Card Number</label>

                                        <div class="input-group">
                                            <input type="tel" class="form-control" aria-label="Credit Card Number"
                                                minlength="16" maxlength="16" aria-describedby="basic-addon1"
                                                formControlName="number" (keyup)="onKeyUp($event)"
                                                (copy)="$event.preventDefault()" (paste)="(false)" appCopyPaste>
                                            <div class="input-group-append">
                                                <span class="input-group-text h-100 w-100" id="basic-addon1">
                                                    <i class="fas fa-credit-card"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div *ngIf="number.invalid && (number.dirty || number.touched)"
                                            class="text-danger">
                                            <!-- <div *ngIf="number.errors?.['required']">
                                                Credit Card Number is required.
                                            </div> -->
                                            <div *ngIf="number.errors?.['minlength']">
                                                Invalid Credit Card Number.
                                            </div>
                                            <div *ngIf="number.errors?.['maxlength']">
                                                Invalid Credit Card Number.
                                            </div>
                                            <div *ngIf="number.errors?.['invalidValue']">
                                                Credit Card Number does not match.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- MONTH YEAR CVV -->
                            <div class="row m-4px">
                                <!-- MONTH -->
                                <div class="form-group col-sm-4">
                                    <label for="ccmonth" class="m-4px">Month</label>
                                    <select class="form-control" formControlName="month" id="ccmonth">
                                        <option *ngFor="let item of monthArray" [ngValue]="item">
                                            {{item}}
                                        </option>
                                    </select>

                                    <div *ngIf="month.invalid && (month.dirty || month.touched)" class="text-danger">
                                        <!-- <div *ngIf="month.errors?.['required']">
                                            Month is required.
                                        </div> -->
                                        <div *ngIf="month.errors?.['invalidValue']">
                                            Month does not match.
                                        </div>
                                    </div>
                                </div>
                                <!-- YEAR -->
                                <div class="form-group col-sm-4">
                                    <label for="ccyear" class="m-4px">Year</label>
                                    <select class="form-control" formControlName="year" id="ccyear">
                                        <option *ngFor="let item of yearArray" [ngValue]="item">
                                            {{item}}
                                        </option>
                                    </select>
                                    <div *ngIf="year.invalid && (year.dirty || year.touched)" class="text-danger">
                                        <!-- <div *ngIf="year.errors?.['required']">
                                            Year is required.
                                        </div> -->
                                        <div *ngIf="year.errors?.['invalidValue']">
                                            Year does not match.
                                        </div>
                                    </div>
                                </div>
                                <!-- CVV -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="cvv" class="m-4px">CVV</label>
                                        <input class="form-control" id="cvv" formControlName="cvv" type="tel"
                                            minlength="3" maxlength="3" placeholder="CVV" (keyup)="onKeyUp($event)">
                                        <div *ngIf="cvv.invalid && (cvv.dirty || cvv.touched)" class="text-danger">
                                            <!-- <div *ngIf="cvv.errors?.['required']">
                                                CVV is required.
                                            </div> -->
                                            <div *ngIf="cvv.errors?.['minlength']">
                                                Invalid CVV.
                                            </div>
                                            <div *ngIf="cvv.errors?.['maxlength']">
                                                Invalid CVV.
                                            </div>
                                            <div *ngIf="cvv.errors?.['invalidValue']">
                                                CVV does not match.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="d-flex justify-content-around">
                                <button class="btn btn-danger" type="reset" (click)="resetForm();">
                                    <i class="mdi mdi-lock-reset"></i> Reset
                                </button>
                                <button class="btn btn-success float-right" type="submit"
                                    [disabled]="!creditCardForm.valid">
                                    <i class="mdi mdi-gamepad-circle"></i> Submit
                                </button>
                            </div>
                        </div>

                    </form>


                </div>

            </div>
            <div class="col"></div>
        </div>

    </div>

</div>