<div class="w-100 h-100" style="background : #f2f2f2;">

    <!-- header -->
    <mat-toolbar>
        <button mat-icon-button class="example-icon mr-2" (click)="_location.back();">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Prime NG DataTable</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>favorite_border</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" [disabled]="actualValue != userValue"
            routerLink="pages/component1">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </mat-toolbar>



    <div class="container mt-2">

        <!-- enter value -->
        <div>
            <p class="mt-5">Find number of entries where fruit is kiwi - </p>
            <mat-form-field>
                <input matInput appearance="outline" placeholder="Enter count" [(ngModel)]="userValue">
                <mat-hint>The answer is : {{actualValue}}</mat-hint>
            </mat-form-field>
        </div>


        <div class="">
            <!-- <h5>Programmatic Control</h5> -->
            <!-- <div class="mb-3">
                <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
                    styleClass="p-button-text"></p-button>
                <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
                <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
                    styleClass="p-button-text"></p-button>
            </div> -->

            <p-table [value]="logList" styleClass="p-datatable-sm p-datatable-striped" dataKey="id" [paginator]="true"
                [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" [tableStyle]="{'min-width': '50rem'}"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 25, 100]" [globalFilterFields]="globalFilterFields"
                [scrollable]="true" scrollHeight="400px">

                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let obj of columnList" [pSortableColumn]="obj.field" style="width:25%">
                            {{obj.header}}
                            <p-sortIcon [field]="obj.field"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let obj of columnList">
                            <p-columnFilter type="text" [field]="obj.field"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-log>
                    <tr>
                        <td *ngFor="let obj of columnList">{{log[obj.field]}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>


</div>