<div class="w-100 h-100" style="overflow:hidden;">
    <div class="row">

        <div class="col-md-3 p-0 m-0 d-none d-md-block">
            <div class="tsparticles-parent">
                <ng-particles id="tsparticles" [options]="particlesOptions" [particlesInit]="particlesInit"
                    (particlesLoaded)="particlesLoaded($event)"></ng-particles>
            </div>
        </div>

        <div class="col-md-9 col-sm-12 col-xs-12 p-5 m-0" style="background:#f2f2f2;">

            <div class="d-flex justify-content-center mt-4">
                <a type="button">
                    <i class="fa-solid fa-crop-simple fa-fw fa-3x">
                    </i>
                </a>
            </div>

            <h1 class="text-center my-5">Interactive Systems</h1>

            <h3>Goals : </h3>
            <ul>
                <li class="text-wrap">
                    The application is built with the sole purpose of designing and developing a system
                    where users can interact with similar UI components and elements.
                </li>
                <li class="text-wrap">
                    Based on these interactions multiple performance insights can be gathered and showcased.
                    These insights can be powerful enough to help change business aspects and affect key parameters
                    such as user retention as well as increase in trust and recognition.
                </li>
            </ul>

            <div class="d-flex justify-content-center mt-5">
                <a type="button" class="btn btn-primary btn-lg" routerLink="pages/variant-2">
                    Start
                    <i class="fa-solid fa-forward"></i>
                </a>
            </div>

        </div>

    </div>
</div>