.parent-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.w-30 {
    width: 30% !important;
}

.w-70 {
    width: 70% !important;
}

.box-shadow-1 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
