<!-- <div class="container-fluid p-0 m-0">

    <div class="d-flex parent-container">
        <div class="w-30 tsparticles-parent">
            <ng-particles id="tsparticles" [options]="particlesOptions" [particlesInit]="particlesInit"
                (particlesLoaded)="particlesLoaded($event)"></ng-particles>
        </div>

        <div class="w-70 p-5">

            <h1 class="text-center my-5">Interactive Systems</h1>

            <div class="d-flex align-items-center justify-content-around">

                <div class="card box-shadow-1" style="width: 15rem;">
                    <img class="card-img-top p-4 mx-auto" src="/assets/bootstrap-logo-shadow.png"
                        alt="Bootstrap Component" title="Bootstrap Component" style="aspect-ratio: 1.20 / 1;">
                    <div class="card-body">
                        <p class="card-text">
                            Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first
                            front-end web development.
                        </p>

                        <star-rating [users]="50" [selectedValue]="3"></star-rating>

                        <a href="#" class="btn btn-primary" [routerLink]="['/pages/component1']">
                            Preview
                        </a>
                    </div>
                </div>

                <div class="card box-shadow-1" style="width: 15rem;">
                    <img class="card-img-top p-4 mx-auto" src="/assets/angular-material-logo.png"
                        alt="Angular Material Component" title="Angular Material Component"
                        style="aspect-ratio: 1.20 / 1;">
                    <div class="card-body">
                        <p class="card-text">
                            Angular Material is a UI component library used in
                            Angular projects to speed up the development of elegant and consistent UI.
                        </p>

                        <star-rating [users]="50" [selectedValue]="3"></star-rating>

                        <a href="#" class="btn btn-primary" [routerLink]="['/pages/component2']">
                            Preview
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div> -->


<div class="w-100 h-100" style="overflow:hidden">
    <div class="row">

        <div class="col-md-3 p-0 m-0 d-none d-md-block">
            <div class="tsparticles-parent">
                <ng-particles id="tsparticles" [options]="particlesOptions" [particlesInit]="particlesInit"
                    (particlesLoaded)="particlesLoaded($event)"></ng-particles>
            </div>
        </div>

        <div class="col-md-9 col-sm-12 col-xs-12 p-5 m-0">

            <div class="d-flex justify-content-center mt-4">
                <a type="button">
                    <i class="fa-solid fa-crop-simple fa-fw fa-3x">
                    </i>
                </a>
            </div>

            <h1 class="text-center my-5">Interactive Systems</h1>

            <h3>Goals : </h3>
            <ul>
                <li class="text-wrap">
                    The application is built with the sole purpose of designing and developing a system
                    where users can interact with similar UI components and elements.
                </li>
                <li class="text-wrap">
                    Based on these interactions multiple performance insights can be gathered and showcased.
                    These insights can be powerful enough to help change business aspects and affect key parameters
                    such as user retention as well as increase in trust and recognition.
                </li>
            </ul>

            <div class="d-flex justify-content-center mt-5">
                <a type="button" class="btn btn-primary btn-lg" routerLink="pages/component1">
                    Start
                    <i class="fa-solid fa-forward"></i>
                </a>
            </div>

        </div>

    </div>
</div>