<div class="w-100 h-100" style="overflow:hidden;">
    <div class="row">

        <div class="col-md-3 p-0 m-0 d-none d-md-block">
            <div class="tsparticles-parent">
                <ng-particles id="tsparticles" [options]="particlesOptions" [particlesInit]="particlesInit"
                    (particlesLoaded)="particlesLoaded($event)"></ng-particles>
            </div>
        </div>

        <div class="col-md-9 col-sm-12 col-xs-12 p-5 m-0" style="background:#f2f2f2;">

            <div class="d-flex justify-content-center mt-4">
                <a type="button">
                    <i class="fa-solid fa-crop-simple fa-fw fa-3x">
                    </i>
                </a>
            </div>

            <h1 class="text-center my-5">Interactive Systems</h1>

            <h3>Goals : </h3>
            <ul>
                <li class="text-wrap">
                    The goals of UI designs are to place users in control of the interface as well as reduce cognitive
                    load.
                </li>

                <li class="text-wrap">
                    This application is built with the purpose of designing and developing a system where users can
                    interact with similar UI components & elements, and upon user interactions multiple performance
                    insights can be gathered and showcased.
                </li>
                <li class="text-wrap">
                    The gathered data can be used to improve the overall design of the user interface and also better
                    understand how users interact with it. This would be of great help to not just businesses, but also
                    to individual users who wish to understand and improve their own user interface interactions as well
                    as parameters such as user retention and establishing trust and recognition.
                </li>
            </ul>

            <div class="d-flex align-items-center justify-content-around mt-5">

                <a type="button" class="btn btn-primary btn-lg" routerLink="pages/variant-2">
                    Variant 1
                    <i class="fa-solid fa-forward"></i>
                </a>

                <a type="button" class="btn btn-primary btn-lg" routerLink="pages/variant-1">
                    Variant 2
                    <i class="fa-solid fa-forward"></i>
                </a>

            </div>

        </div>

    </div>
</div>